.container {
    max-width: 120rem;
    margin: 8rem auto;
    background-color: $Grey-light-2;
    box-shadow: $shadow-dark;

    min-height: 50rem;

    @media only screen and (max-width: 1200px) {
        margin: 0;
        max-width: 100%;
        width: 100%;
    }
}

.header {
    font-size: 1.4rem;
    height: 7rem;
    background-color: #fff;
    border-bottom: $Grey-light-2 1px solid;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content {
    display: flex;
}

.sidebar {
    background-color: $Grey-dark-1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    flex: 0 0 18%;
}

.hotel-view {

    flex: 1;
}

.detail {
    display: flex;
    padding: 4.5rem;
    background-color: $Grey-light-1;
    border-bottom: $Grey-light-2 1px solid;
}

.description {
    font-size: 1.4rem;
    background-color: #fff;
    box-shadow: 0 2rem 5rem rgba(black, 0.06);
    padding: 3rem;
    flex: 0 0 60%;
    margin-right: 4.5rem;
}

.user-reviews {
    flex: 1;
}
